In [64]:
S3_INPUT_PATH = "s3://wri-projects/Aqueduct30/test/testGpd/"
EC2_INPUT_PATH = "/volumes/data/temp/"
EC2_OUTPUT_PATH = "/volumes/data/temp/output/"
S3_OUTPUT_PATH = "s3://wri-projects/Aqueduct30/test/output/"

In [59]:
!mkdir -p {EC2_INPUT_PATH}
!mkdir -p {EC2_OUTPUT_PATH}

In [31]:
!aws s3 cp {S3_INPUT_PATH} {EC2_INPUT_PATH} --recursive

download: s3://wri-projects/Aqueduct30/test/testGpd/FAO/faoBuffered.dbf to ../../../../data/temp/FAO/faoBuffered.dbf
download: s3://wri-projects/Aqueduct30/test/testGpd/FAO/faoBuffered.cpg to ../../../../data/temp/FAO/faoBuffered.cpg
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_V01.prj to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_V01.prj
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_V01.cpg to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_V01.cpg
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.qpj to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.qpj
download: s3://wri-projects/Aqueduct30/test/testGpd/FAO/faoBuffered.qpj to ../../../../data/temp/FAO/faoBuffered.qpj
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.cpg to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.cpg
download: s3://wri-projects/Aqueduct30/test/testGpd/FAO/faoBuffered.shx to ../../../../data/temp/FAO/faoBuffered.shx
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.shx to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.shx
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.dbf to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.dbf
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.prj to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.prj
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_V01.shx to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_V01.shx
download: s3://wri-projects/Aqueduct30/test/testGpd/FAO/faoBuffered.prj to ../../../../data/temp/FAO/faoBuffered.prj
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.shp to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.shp
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_V01.dbf to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_V01.dbf
download: s3://wri-projects/Aqueduct30/test/testGpd/FAO/faoBuffered.shp to ../../../../data/temp/FAO/faoBuffered.shp
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_V01.shp to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_V01.shp

In [14]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
%matplotlib notebook
import os
import folium

In [3]:
from shapely.wkt import loads
from shapely.geometry import Point

In [49]:
gdfFAO = gpd.read_file('/volumes/data/temp/FAO/faoBuffered.shp')
gdfHybas = gpd.read_file('/volumes/data/temp/Hybas/hybas_lev06_v1c_merged_fiona_Cropped_V01.shp')

In [51]:
gdfHybas.head()

,COAST,DIST_MAIN,DIST_SINK,ENDO,HYBAS_ID,MAIN_BAS,NEXT_DOWN,NEXT_SINK,ORDER,PFAF_ID,SORT,SUB_AREA,UP_AREA,geometry
0,0,227.1,227.1,0,2060499090,2060021030,2060502710,2060021030,2,232260,526,13664.2,13664.2,"POLYGON ((1.133333333333358 47.35833333333336,..."
1,0,227.3,227.3,0,2060498990,2060021030,2060502710,2060021030,1,232270,527,10041.2,42572.4,"POLYGON ((2.87916666666669 46.73750000000003, ..."
2,0,275.6,275.6,0,2060455290,2060022150,2060446440,2060022150,1,232405,542,1088.5,44526.2,"POLYGON ((2.079166666666683 48.98750000000003,..."
3,0,275.7,275.7,0,2060455180,2060022150,2060446440,2060022150,2,232404,543,16783.0,16783.0,"POLYGON ((3.770833333333363 49.19166666666669,..."
4,0,353.6,353.6,0,2060459800,2060022150,2060455290,2060022150,1,232407,544,7203.8,12783.1,"POLYGON ((2.90416666666669 49.13750000000003, ..."

In [66]:
gdfHybas.set_index('PFAF_ID')

,COAST,DIST_MAIN,DIST_SINK,ENDO,HYBAS_ID,MAIN_BAS,NEXT_DOWN,NEXT_SINK,ORDER,SORT,SUB_AREA,UP_AREA,geometry
PFAF_ID,,,,,,,,,,,,,
232260,0,227.1,227.1,0,2060499090,2060021030,2060502710,2060021030,2,526,13664.2,13664.2,"POLYGON ((1.133333333333358 47.35833333333336,..."
232270,0,227.3,227.3,0,2060498990,2060021030,2060502710,2060021030,1,527,10041.2,42572.4,"POLYGON ((2.87916666666669 46.73750000000003, ..."
232405,0,275.6,275.6,0,2060455290,2060022150,2060446440,2060022150,1,542,1088.5,44526.2,"POLYGON ((2.079166666666683 48.98750000000003,..."
232404,0,275.7,275.7,0,2060455180,2060022150,2060446440,2060022150,2,543,16783.0,16783.0,"POLYGON ((3.770833333333363 49.19166666666669,..."
232407,0,353.6,353.6,0,2060459800,2060022150,2060455290,2060022150,1,544,7203.8,12783.1,"POLYGON ((2.90416666666669 49.13750000000003, ..."
232406,0,353.8,353.8,0,2060459960,2060022150,2060455290,2060022150,2,545,30654.0,30654.8,"POLYGON ((4.554166666666687 47.20416666666669,..."
232408,0,613.4,613.4,0,2060461380,2060022150,2060459800,2060022150,2,546,2134.4,2134.5,"POLYGON ((5.200000000000026 48.56666666666669,..."
232409,0,613.6,613.6,0,2060461420,2060022150,2060459800,2060022150,1,547,3444.4,3444.5,"POLYGON ((5.475000000000028 48.01666666666669,..."
232502,0,0.0,0.0,0,2060022380,2060022380,0,2060022380,1,549,6194.5,6194.8,"POLYGON ((3.512500000000028 49.92500000000003,..."
232503,1,0.0,0.0,0,2060022390,2060022390,0,2060022390,0,550,5546.6,5546.6,"POLYGON ((2.641666666666687 51.12500000000003,..."
232504,0,0.0,0.0,0,2060022610,2060022610,0,2060022610,1,551,1554.0,1554.0,"POLYGON ((2.833333333333356 50.77500000000003,..."
232505,1,0.0,0.0,0,2060022620,2060022620,0,2060022620,0,552,2600.6,2600.6,"POLYGON ((4.295833333333352 51.26250000000003,..."
227999,0,2646.7,2646.7,0,2060461540,2060008490,2060457260,2060008490,1,352,14756.0,14756.1,"POLYGON ((8.279166666666685 48.10833333333337,..."
232506,0,0.0,0.0,0,2060022770,2060022770,0,2060022770,1,553,19000.8,19001.5,"POLYGON ((2.312500000000018 50.51666666666669,..."
232507,1,0.0,0.0,0,2060022780,2060022780,0,2060022780,0,554,3584.8,3584.8,(POLYGON ((3.948611111111143 51.76250000000003...
232508,0,0.0,0.0,0,2060022970,2060022970,0,2060022970,1,555,32771.2,32771.2,"POLYGON ((5.900000000000015 49.48750000000003,..."
232509,1,0.0,0.0,0,2060022980,2060022980,0,2060022980,0,556,450.1,450.1,"POLYGON ((4.200000000000018 51.88750000000003,..."
232610,0,0.0,0.0,0,2060023010,2060023010,0,2060023010,1,557,25335.7,163008.5,"POLYGON ((8.058333333333366 50.69166666666669,..."
232620,0,447.8,447.8,0,2060420240,2060023010,2060023010,2060023010,2,558,28101.2,28101.4,"POLYGON ((7.412500000000027 50.32916666666669,..."
232630,0,447.9,447.9,0,2060420340,2060023010,2060023010,2060023010,1,559,11589.0,109585.3,"POLYGON ((7.604166666666695 50.12500000000002,..."
232640,0,546.3,546.3,0,2060429670,2060023010,2060420340,2060023010,2,560,27404.6,27405.1,"POLYGON ((11.62083333333336 49.60000000000003,..."
232650,0,546.5,546.5,0,2060429770,2060023010,2060420340,2060023010,1,561,2780.0,70590.9,"POLYGON ((8.541666666666687 49.57500000000003,..."
232670,0,616.6,616.6,0,2060441280,2060023010,2060429770,2060023010,1,562,20549.5,53864.9,"POLYGON ((8.40000000000002 48.49166666666669, ..."
232660,0,616.7,616.7,0,2060441290,2060023010,2060429770,2060023010,2,563,13946.2,13946.2,"POLYGON ((9.066666666666691 48.35416666666669,..."
232680,0,953.0,953.0,0,2060491750,2060023010,2060441280,2060023010,2,564,17568.6,17568.6,"POLYGON ((8.87916666666669 46.82083333333336, ..."
216029,0,498.7,498.7,0,2060510690,2060016510,2060536360,2060016510,1,430,7831.6,7831.6,"POLYGON ((5.141666666666691 46.72083333333336,..."
232690,0,953.1,953.1,0,2060491760,2060023010,2060441280,2060023010,1,565,15847.8,15847.8,"POLYGON ((8.916666666666689 46.62500000000002,..."
216028,0,498.9,498.9,0,2060510560,2060016510,2060536360,2060016510,2,431,11805.6,11805.6,"POLYGON ((6.479166666666687 47.4916666666667, ..."
232701,1,0.0,0.0,0,2060023020,2060023020,0,2060023020,0,566,6727.0,6727.0,(POLYGON ((4.669444444444466 52.95833333333336...
232702,0,0.0,0.0,0,2060023320,2060023320,0,2060023320,1,567,10569.5,10569.5,"POLYGON ((7.066666666666691 51.92500000000003,..."
232703,1,0.0,0.0,0,2060023330,2060023330,0,2060023330,0,568,7853.3,7853.3,"(POLYGON ((6.48611111111113 53.52083333333336,..."
232704,0,0.0,0.0,0,2060023600,2060023600,0,2060023600,1,569,12103.1,12103.2,"POLYGON ((8.554166666666687 51.98333333333337,..."
232705,1,0.0,0.0,0,2060023610,2060023610,0,2060023610,0,570,3100.5,3100.5,(POLYGON ((7.198611111111136 53.69583333333337...
232706,0,0.0,0.0,0,2060023940,2060023940,0,2060023940,1,571,44776.2,44776.2,"POLYGON ((10.22916666666668 51.31250000000003,..."
232707,1,0.0,0.0,0,2060023950,2060023950,0,2060023950,0,572,1925.6,1925.6,(POLYGON ((8.436111111111131 53.94583333333337...
232708,0,0.0,0.0,0,2060024080,2060024080,0,2060024080,1,573,1804.9,1805.1,"POLYGON ((9.245833333333358 53.4916666666667, ..."
232709,1,0.0,0.0,0,2060024090,2060024090,0,2060024090,0,574,1171.5,1171.5,"POLYGON ((9.825000000000031 53.20833333333336,..."
232900,1,0.0,0.0,0,2060024180,2060024180,0,2060024180,0,584,917.5,917.5,(POLYGON ((9.525000000000027 53.70000000000003...
241001,1,0.0,0.0,0,2060024230,2060024230,0,2060024230,0,585,13793.6,13793.6,"(POLYGON ((8.331944444444463 55.5041666666667,..."
241005,1,0.0,0.0,0,2060025270,2060025270,0,2060025270,0,589,12910.1,12910.1,(POLYGON ((10.81111111111113 56.12916666666668...

In [73]:
gdfHybasBuffer = gdfHybas['geometry'].buffer(-0.005,resolution=16)

In [70]:
gdfHybas[]

0    POLYGON ((0.4802056493726044 47.33676526482385...
1    POLYGON ((0.3946555531847661 47.49782138220293...
2    POLYGON ((1.985697993274555 48.88870001490769,...
3    POLYGON ((1.642712429100236 49.6413141345426, ...
4    POLYGON ((2.414370437159644 48.81750000000003,...
dtype: object

In [60]:
gdfHybasBuffer.to_file(os.path.join(EC2_OUTPUT_PATH,'output.shp'))

In [65]:
!aws s3 cp {EC2_OUTPUT_PATH} {S3_OUTPUT_PATH} --recursive

upload: ../../../../data/temp/output/output.cpg to s3://wri-projects/Aqueduct30/test/output/output.cpg
upload: ../../../../data/temp/output/output.shx to s3://wri-projects/Aqueduct30/test/output/output.shx
upload: ../../../../data/temp/output/output.prj to s3://wri-projects/Aqueduct30/test/output/output.prj
upload: ../../../../data/temp/output/output.shp to s3://wri-projects/Aqueduct30/test/output/output.shp
upload: ../../../../data/temp/output/output.dbf to s3://wri-projects/Aqueduct30/test/output/output.dbf