In [26]:
S3_INPUT_PATH = "s3://wri-projects/Aqueduct30/test/testGpd/"
EC2_INPUT_PATH = "/volumes/data/temp/"

In [27]:
!mkdir -p {EC2_INPUT_PATH}

In [28]:
!aws s3 cp {S3_INPUT_PATH} {EC2_INPUT_PATH} --recursive

download: s3://wri-projects/Aqueduct30/test/testGpd/FAO/faoBuffered.cpg to ../../../../data/temp/FAO/faoBuffered.cpg
download: s3://wri-projects/Aqueduct30/test/testGpd/FAO/faoBuffered.qpj to ../../../../data/temp/FAO/faoBuffered.qpj
download: s3://wri-projects/Aqueduct30/test/testGpd/FAO/faoBuffered.dbf to ../../../../data/temp/FAO/faoBuffered.dbf
download: s3://wri-projects/Aqueduct30/test/testGpd/FAO/faoBuffered.prj to ../../../../data/temp/FAO/faoBuffered.prj
download: s3://wri-projects/Aqueduct30/test/testGpd/FAO/faoBuffered.shx to ../../../../data/temp/FAO/faoBuffered.shx
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_V01.prj to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_V01.prj
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_V01.cpg to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_V01.cpg
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_V01.dbf to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_V01.dbf
download: s3://wri-projects/Aqueduct30/test/testGpd/FAO/faoBuffered.shp to ../../../../data/temp/FAO/faoBuffered.shp
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_V01.shx to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_V01.shx
download: s3://wri-projects/Aqueduct30/test/testGpd/Hybas/hybas_lev06_v1c_merged_fiona_V01.shp to ../../../../data/temp/Hybas/hybas_lev06_v1c_merged_fiona_V01.shp

In [14]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
%matplotlib notebook
import os
import folium

In [3]:
from shapely.wkt import loads
from shapely.geometry import Point

In [4]:
data = {'name': ['a', 'b', 'c'],
        'lat': [45, 46, 47.5],
        'lon': [-120, -121.2, -122.9]}

In [5]:
geometry = [Point(xy) for xy in zip(data['lon'], data['lat'])]
geometry

[<shapely.geometry.point.Point at 0x7fc2d9089e10>,
 <shapely.geometry.point.Point at 0x7fc2d9089e48>,
 <shapely.geometry.point.Point at 0x7fc305766b70>]

In [6]:
df = pd.DataFrame(data)
df

    lat    lon name
0  45.0 -120.0    a
1  46.0 -121.2    b
2  47.5 -122.9    c

In [9]:
geometry = [Point(xy) for xy in zip(df['lon'], df['lat'])]
gdfCities = gpd.GeoDataFrame(df, geometry=geometry)

In [10]:
gdfCities

    lat    lon name             geometry
0  45.0 -120.0    a      POINT (-120 45)
1  46.0 -121.2    b    POINT (-121.2 46)
2  47.5 -122.9    c  POINT (-122.9 47.5)

In [17]:
gdfCities.crs = {'init': 'epsg:4326'}

In [18]:
gdfWorld = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
gdfWorld.head(2)

,continent,gdp_md_est,geometry,iso_a3,name,pop_est
0,Asia,22270.0,"POLYGON ((61.21081709172574 35.65007233330923,...",AFG,Afghanistan,28400000.0
1,Africa,110300.0,(POLYGON ((16.32652835456705 -5.87747039146621...,AGO,Angola,12799293.0

In [24]:
gdfJoined = gpd.sjoin(gdfWorld,gdfCities, how="right", op='intersects')

In [25]:
gdfJoined

,continent,gdp_md_est,iso_a3,name_x,pop_est,index_left,lat,lon,name_y,geometry
index_right,,,,,,,,,,
0,North America,15094000.0,USA,United States,313973000.0,168,45.0,-120.0,a,POINT (-120 45)
1,North America,15094000.0,USA,United States,313973000.0,168,46.0,-121.2,b,POINT (-121.2 46)
2,North America,15094000.0,USA,United States,313973000.0,168,47.5,-122.9,c,POINT (-122.9 47.5)

In [ ]:
m = folium.Map(location=[47.8, -122.5], zoom_start=7,tiles='Stamen Toner')

In [ ]:
geo_str = world.to_json()

In [ ]:
m.choropleth(geo_str=geo_str)

In [ ]:
m