# Calculate Water Stress from dataframe

* Purpose of script: calculate total demand (Dom, IrrLinear, Liv, Ind) and Reduced Runoff and water stress.
* Author: Rutger Hofste
* Kernel used: python35
* Date created: 20171002

In [1]:
import time
dateString = time.strftime("Y%YM%mD%d")
timeString = time.strftime("UTC %H:%M")
print(dateString,timeString)

Y2017M10D03 UTC 15:56

In [2]:
S3_INPUT_PATH = "s3://wri-projects/Aqueduct30/processData/Y2017M09D15_RH_Add_Basin_Data_V01/output/"
S3_OUTPUT_PATH = "s3://wri-projects/Aqueduct30/processData/Y2017M10D02_RH_Calculate_Water_Stress_V01/output/"

EC2_INPUT_PATH = "/volumes/data/Y2017M10D02_RH_Calculate_Water_Stress_V01/input"
EC2_OUTPUT_PATH = "/volumes/data/Y2017M10D02_RH_Calculate_Water_Stress_V01/output"

INPUT_FILENAME = "Y2017M09D15_RH_Add_Basin_Data_V01"
OUTPUT_FILENAME = "Y2017M10D02_RH_Calculate_Water_Stress_V01"

TEST_BASINS = [292107,292101,292103,292108,292109]

Read Pickle file instead of csv

In [3]:
!rm -r {EC2_INPUT_PATH} 
!rm -r {EC2_OUTPUT_PATH}

In [4]:
!mkdir -p {EC2_INPUT_PATH} 
!mkdir -p {EC2_OUTPUT_PATH}

In [5]:
!aws s3 cp {S3_INPUT_PATH} {EC2_INPUT_PATH} --recursive

download: s3://wri-projects/Aqueduct30/processData/Y2017M09D15_RH_Add_Basin_Data_V01/output/Y2017M09D15_RH_Add_Basin_Data_V01.pkl to ../../../../data/Y2017M10D02_RH_Calculate_Water_Stress_V01/input/Y2017M09D15_RH_Add_Basin_Data_V01.pkl
download: s3://wri-projects/Aqueduct30/processData/Y2017M09D15_RH_Add_Basin_Data_V01/output/Y2017M09D15_RH_Add_Basin_Data_V01.csv to ../../../../data/Y2017M10D02_RH_Calculate_Water_Stress_V01/input/Y2017M09D15_RH_Add_Basin_Data_V01.csv

In [6]:
import os
import pandas as pd

In [7]:
dfBasins = pd.read_pickle(os.path.join(EC2_INPUT_PATH,INPUT_FILENAME+".pkl"))

In [8]:
dfSelection = dfBasins.loc[TEST_BASINS]

In [9]:
dfSelection

,HYBAS_ID2,Unnamed: 0,HYBAS_ID,NEXT_DOWN,NEXT_SINK,MAIN_BAS,DIST_SINK,DIST_MAIN,SUB_AREA,UP_AREA,...,basin_total_volume_TotWN_month_Y2014M04,basin_total_volume_TotWN_month_Y2014M05,basin_total_volume_TotWN_month_Y2014M06,basin_total_volume_TotWN_month_Y2014M07,basin_total_volume_TotWN_month_Y2014M08,basin_total_volume_TotWN_month_Y2014M09,basin_total_volume_TotWN_month_Y2014M10,basin_total_volume_TotWN_month_Y2014M11,basin_total_volume_TotWN_month_Y2014M12,errorCode
PFAF_ID,,,,,,,,,,,,,,,,,,,,,
292107,2060877600,6355,2060877600,2060879580,2060085630,2060085630,19.0,19.0,155.4,21859.5,...,1.124302e+07,2.985280e+07,4.186467e+07,4.780233e+07,4.435895e+07,3.002128e+07,2.194789e+07,1.313066e+07,1.141623e+07,0.0
292101,2060085630,6350,2060085630,0,2060085630,2060085630,0.0,0.0,0.9,69818.1,...,1.652685e+07,3.909797e+07,5.367150e+07,6.516885e+07,6.037076e+07,3.931510e+07,3.017716e+07,1.679518e+07,1.525801e+07,0.0
292103,2060879580,6352,2060879580,2060085630,2060085630,2060085630,0.2,0.2,4450.7,26310.7,...,1.124302e+07,2.985280e+07,4.186467e+07,4.780233e+07,4.435895e+07,3.002128e+07,2.194789e+07,1.313066e+07,1.141623e+07,0.0
292108,2060876790,6357,2060876790,2060877600,2060085630,2060085630,47.2,47.2,3597.2,3597.2,...,4.681103e+05,5.245635e+05,5.810602e+05,6.322440e+05,6.203872e+05,5.360986e+05,5.362629e+05,4.678457e+05,4.605451e+05,0.0
292109,2060876880,6356,2060876880,2060877600,2060085630,2060085630,47.2,47.2,18107.6,18107.6,...,1.099528e+07,2.959935e+07,4.160703e+07,4.754376e+07,4.410228e+07,2.976769e+07,2.169920e+07,1.288868e+07,1.117959e+07,0.0

In [10]:
columnsOfInterest = ["total_area_30s_m2",
                     "count_area_30s_m2",
                     "Basin_PFAF_IDs",
                     "Upstream_PFAF_IDs",
                     "Downstream_PFAF_IDs",
                     "basin_total_area_30s_m2",
                     "upstream_total_area_30s_m2",
                     "downstream_total_area_30s_m2",
                     "total_volume_PDomWN_yearY2014M12",
                     "upstream_total_volume_PDomWN_yearY2014M12",
                     "downstream_total_volume_PDomWN_yearY2014M12",
                     "basin_total_volume_PDomWN_yearY2014M12",
                     "upstream_total_volume_TotWN_year_Y2014",
                     "upstream_total_volume_reducedmeanrunoff_year_Y1960Y2014",
                     "upstream_total_volume_runoff_yearY2014M12"
                    ]

In [11]:
dfSimple = dfSelection[columnsOfInterest]

In [12]:
dfSimple.head()

,total_area_30s_m2,count_area_30s_m2,Basin_PFAF_IDs,Upstream_PFAF_IDs,Downstream_PFAF_IDs,basin_total_area_30s_m2,upstream_total_area_30s_m2,downstream_total_area_30s_m2,total_volume_PDomWN_yearY2014M12,upstream_total_volume_PDomWN_yearY2014M12,downstream_total_volume_PDomWN_yearY2014M12,basin_total_volume_PDomWN_yearY2014M12,upstream_total_volume_TotWN_year_Y2014,upstream_total_volume_reducedmeanrunoff_year_Y1960Y2014,upstream_total_volume_runoff_yearY2014M12
PFAF_ID,,,,,,,,,,,,,,,
292107,1.534270e+08,202.0,"[292103, 292101, 292109, 292108, 292107]","[292109, 292108]","[292103, 292101]",2.627786e+10,2.167740e+10,4.447037e+09,6.023136e+04,2.379602e+07,2.340529e+06,2.619678e+07,2.783479e+08,1.291412e+09,1.316675e+09
292101,1.521835e+06,2.0,"[292102, 292103, 292104, 292106, 292107, 29210...","[292102, 292103, 292104, 292106, 292107, 29210...",[],6.972547e+10,6.972395e+10,0.000000e+00,0.000000e+00,4.341504e+07,0.000000e+00,4.341504e+07,3.760875e+08,2.520117e+09,3.032724e+09
292103,4.445515e+09,5866.0,"[292101, 292107, 292109, 292108, 292103]","[292107, 292109, 292108]",[292101],2.627786e+10,2.183083e+10,1.521835e+06,2.340529e+06,2.385625e+07,0.000000e+00,2.619678e+07,2.784093e+08,1.293393e+09,1.319062e+09
292108,3.591820e+09,4749.0,"[292107, 292103, 292101, 292108]",[],"[292107, 292103, 292101]",8.192284e+09,0.000000e+00,4.600464e+09,2.621435e+06,0.000000e+00,2.400760e+06,5.022196e+06,0.000000e+00,0.000000e+00,0.000000e+00
292109,1.808558e+10,24049.0,"[292107, 292103, 292101, 292109]",[],"[292107, 292103, 292101]",2.268604e+10,0.000000e+00,4.600464e+09,2.117459e+07,0.000000e+00,2.400760e+06,2.357535e+07,0.000000e+00,0.000000e+00,0.000000e+00

WS = Local WW / (avail runoff)  = Local WW / (Runoff_up + Runoff_local - WN_up)

In [13]:
demandTypes = ["PDom","PInd","IrrLinear","PLiv"]
useTypes = ["WW","WN"]
temporalResolutions = ["year","month"]
years = [2014]
basinTypes = ["upstream","downstream","basin"]

In [14]:
demandType = "PDom"
useType = "WW"
temporalResolution = "year"
year = 2014
basinType = "upstream"
month = 12

In [15]:
dfIn = dfSimple

In [16]:
dfOut = pd.DataFrame(index=dfIn.index)

In [17]:
dfOut.head()

Empty DataFrame
Columns: []
Index: [292107, 292101, 292103, 292108, 292109]

In [18]:
def calculateWaterStressYear(temporalResolution,year,df):
    dfTemp = df.copy()
    dfTemp["ws_yearY%0.4d" %(year)] = dfTemp["total_volume_TotWW_year_Y%0.4d" %(year)] /  \
    (dfTemp["upstream_total_volume_reducedmeanrunoff_year_Y1960Y2014"] + \
     dfTemp["total_volume_reducedmeanrunoff_year_Y1960Y2014"] - \
     dfSelection["upstream_total_volume_TotWN_year_Y2014"])
    
def calculateWaterStressMonth(temporalResolution,year,month,df):

In [19]:
dfOut.head()

               WSTest
PFAF_ID
292107   6.042626e-05
292101   1.100421e-09
292103   4.162879e-03
292108   5.512749e-02
292109   5.883013e-01

In [25]:
for temporalResolution in temporalResolutions:
    if temporalResolution == "year":
        months = [12]
    elif temporalResolution == "month":
        months = range(1,13)

    for year in years:    
        for month in months:
            for useType in useTypes:

SyntaxError: unexpected EOF while parsing (<ipython-input-25-0d06272d9bf5>, line 12)

In [21]:
dfOut = dfOut.merge(dfSimple,left_index=True,right_index=True,how="left")

In [22]:
dfOut.head()

,WSTest,total_area_30s_m2,count_area_30s_m2,Basin_PFAF_IDs,Upstream_PFAF_IDs,Downstream_PFAF_IDs,basin_total_area_30s_m2,upstream_total_area_30s_m2,downstream_total_area_30s_m2,total_volume_PDomWN_yearY2014M12,upstream_total_volume_PDomWN_yearY2014M12,downstream_total_volume_PDomWN_yearY2014M12,basin_total_volume_PDomWN_yearY2014M12,upstream_total_volume_TotWN_year_Y2014,upstream_total_volume_reducedmeanrunoff_year_Y1960Y2014,upstream_total_volume_runoff_yearY2014M12
PFAF_ID,,,,,,,,,,,,,,,,
292107,6.042626e-05,1.534270e+08,202.0,"[292103, 292101, 292109, 292108, 292107]","[292109, 292108]","[292103, 292101]",2.627786e+10,2.167740e+10,4.447037e+09,6.023136e+04,2.379602e+07,2.340529e+06,2.619678e+07,2.783479e+08,1.291412e+09,1.316675e+09
292101,1.100421e-09,1.521835e+06,2.0,"[292102, 292103, 292104, 292106, 292107, 29210...","[292102, 292103, 292104, 292106, 292107, 29210...",[],6.972547e+10,6.972395e+10,0.000000e+00,0.000000e+00,4.341504e+07,0.000000e+00,4.341504e+07,3.760875e+08,2.520117e+09,3.032724e+09
292103,4.162879e-03,4.445515e+09,5866.0,"[292101, 292107, 292109, 292108, 292103]","[292107, 292109, 292108]",[292101],2.627786e+10,2.183083e+10,1.521835e+06,2.340529e+06,2.385625e+07,0.000000e+00,2.619678e+07,2.784093e+08,1.293393e+09,1.319062e+09
292108,5.512749e-02,3.591820e+09,4749.0,"[292107, 292103, 292101, 292108]",[],"[292107, 292103, 292101]",8.192284e+09,0.000000e+00,4.600464e+09,2.621435e+06,0.000000e+00,2.400760e+06,5.022196e+06,0.000000e+00,0.000000e+00,0.000000e+00
292109,5.883013e-01,1.808558e+10,24049.0,"[292107, 292103, 292101, 292109]",[],"[292107, 292103, 292101]",2.268604e+10,0.000000e+00,4.600464e+09,2.117459e+07,0.000000e+00,2.400760e+06,2.357535e+07,0.000000e+00,0.000000e+00,0.000000e+00

In [23]:
dfOut.to_csv(os.path.join(EC2_OUTPUT_PATH,OUTPUT_FILENAME+"V06.csv"))

In [24]:
!aws s3 cp {EC2_OUTPUT_PATH} {S3_OUTPUT_PATH} --recursive

upload: ../../../../data/Y2017M10D02_RH_Calculate_Water_Stress_V01/output/Y2017M10D02_RH_Calculate_Water_Stress_V01V06.csv to s3://wri-projects/Aqueduct30/processData/Y2017M10D02_RH_Calculate_Water_Stress_V01/output/Y2017M10D02_RH_Calculate_Water_Stress_V01V06.csv